<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HugoLANDContext" connectionString="metadata=res://*/Models.HugoLANDModel.csdl|res://*/Models.HugoLANDModel.ssdl|res://*/Models.HugoLANDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.20.230;initial catalog=4DB-Equipe6-2021;persist security info=True;user id=4DB-Equipe6;password=Coco69;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>